*{
  padding: 0;
  margin: auto;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
  width: 95%;
}
nav{
  background: rgba(0, 0, 0, 0.794);
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #070707;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  /* .flexContainer2{
    width:300px;
  } */
}
.banner{
  background: url(3.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  /* color: white;
  text-align: center;
  font-size: 40px; */
  /* height: calc(100vh - 80px); */
}
#i1{
padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 80px;
}
.flexContainer{
  margin-top: 20px;
  height: 350px;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  

}
.flexitem{
 
  /* border: 3px solid green; */
  height: 300px;
  width: 30%;
  background-size: cover;
}
.img1{
  background: url(fer2.jpg) no-repeat;
  background-size: cover;
   height: 200px;
}
.p1{
  text-align: center;
  height: 100px;
  border: 3px solid grey;
}
.img2{
  background: url(maclaren.jpg) no-repeat;
  background-size: cover;
   height: 200px;
}
.img3{
  background: url(mercedes2.jpg) no-repeat;
  background-size: cover;
   height: 200px;
}
.flexContainer2{
  background: grey no-repeat;
  background-size: cover;
  margin-top: 20px;
  height: 300px;
  flex-wrap: wrap;
   /* border: 3px solid red; */
display: flex;
  align-items: center;
  justify-content: space-between;



}
.flexitem2{
 
  /* border: 3px solid rgb(189, 194, 189); */
  height: 200px;
  width: 30%;
  background-size: cover;
 /* align-items: stretch; */
}
.logo1{
  /* background-image: url("../Responsive Navbar/logo1\ \(1\).png");  */
  background: grey no-repeat;
  padding-top: 5px;
  text-align: center;

   height: 290px;
   color: white;
}
.logo2{
  background: grey no-repeat;
  background-size: cover;
   height:290px;
   object-fit: cover;
   padding-top: 5px;
   text-align: center;
}
.logo3{
  background: grey no-repeat;
  background-size: cover;
   height:290px;
   padding-top: 5px;
   text-align: center;
} 
.pad{
  color: white;
  font-size: 30px;
}

.footer{
  background:rgba(0, 0, 0, 0.897);
  background-size: cover;
  height: 100px;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 30px;
}
/* @media screen and (max-width:1010px)
{
    #i1{
    color: red;
    }

    #main{
        width:800px;
    }
    #content{
        width:80%;
    }
    #sidebar{
        width:19%;
    }
} */